/* ==========================================================================
NAVBAR
   ========================================================================== */
.dashboard-nav {
	background-color: #6c63ff;
	height: 70px;
	position: absolute;
	left: 240px;
	right: 0;
	transition: left 0.3s ease;
	padding: 5px;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user-nav > ul {
	display: table;
}

.user-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.user-nav > ul > li {
	display: table-cell;
	position: relative;
}
.user-nav > ul > li:before {
	display: block;
	content: ' ';
	width: 1px;
	height: 24px;
	top: 50%;
	margin-top: -12px;
	background-color: #8b9cb1;
	position: absolute;
	left: 0;
}
.user-nav > ul > li > a {
	padding: 0 15px;
	color: #fff;
}
.profile a .img {
	display: inline-block;
	width: 30 px;
	height: 30 px;
	line-height: 30px;
	border-radius: 4 px;
	background-color: #8b9cb1;
	color: #ffffff;
	text-align: center;
	margin-right: 10 px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	vertical-align: middle;
}
.profile-dropdown-menu {
	left: auto;
	right: 0;
	min-width: 180px;
	white-space: normal;
}
.profile-dropdown-menu a {
	padding: 10px 15px;
}
.dropdown-menu .dropdown-item:hover {
	color: #6c63ff;
}

.dropdown-menu span {
	cursor: pointer;
}

/* .nav-right::before {
	position: absolute;
	left: -1px;
	top: 50%;
	background: #dee2e6;
	width: 1px;
	height: 30px;
	margin-top: -15px;
	content: '';
} */

/*search Box*/

.search-box {
	width: fit-content;
	height: fit-content;
	position: relative;
}
.input-search {
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all 0.5s ease-in-out;
	background-color: #22a6b3;
	padding-right: 40px;
	color: #fff;
}
.input-search::placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}
.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}
.btn-search:focus ~ .input-search {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* ==========================================================================
LOGIN-PAGE
   ========================================================================== */
.form-check label {
	display: block;
}
.caption {
	position: relative;
	color: #888;
	cursor: pointer;
}
.caption a {
	position: relative;
	color: #888;
	cursor: pointer;
	text-decoration: none;
}
.btn-primary {
	background: #6c63ff;
	border: none;
}
.social-login a {
	font-size: 32px;
	padding: 3rem;
}
@media screen and (max-width: 765px) {
	.section-login {
		margin-top: 3rem;
	}
}
/* ==========================================================================
SIDE-BAR
   ========================================================================== */
.sidebar {
	background-color: #3a4651;
	width: 240px;
	padding-bottom: 60px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	-webkit-transition: left 0.3s ease;
	transition: left 0.3s ease;
	z-index: 20;
}
.sidebar .sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar .menu ul,
a {
	text-decoration: none;
	list-style: none;
}
.sidebar .menu ul li {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 15px;
}
.sidebar .sidebar-menu li:hover {
	background-color: #2d363f;
}
.sidebar .sidebar-menu a:hover {
	color: #ffffff;
}
.sidebar .sidebar-menu a {
	color: #efeded;
}

/* ==========================================================================
PAGES SECTIONS
   ========================================================================== */
.content {
	left: 240px;
	position: absolute;
	top: 70px;
	transition: left 0.3s ease;
	padding: 2rem;
}
